
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">Dashboard</a>
          
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">
                        <i class="material-icons">notifications</i> Notifications
                    </a>
                </li>
                <!-- your navbar here -->
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
        <!-- your content here -->
        <div class="row">
            
                <div class="col-lg-3 col-md-6 col-sm-6" >
                    <a class="nav-link" href="/Intakes">
    <div class="card card-stats" style="height:100px">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">

            </div>
            <p class="card-category"> </p>
            <h3 class="card-title">
                Intake

            </h3>
        </div>

    </div>
</a>
        </div>
            
           
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a class="nav-link" href="/degrees/">
                    <div class="card card-stats" style="height:100px">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">

                            </div>
                            <p class="card-category"></p>
                            <h3 class="card-title">Department</h3>
                        </div>

                    </div>
                </a>
            </div>
           
           
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a class="nav-link" href="/departments/">
                    <div class="card card-stats" style="height:100px">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">

                            </div>
                            <p class="card-category"> </p>
                            <h3 class="card-title">Degree</h3>
                        </div>

                    </div>
                </a>
            </div>
           
            
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a class="nav-link" href="/modules/">
    <div class="card card-stats" style="height:100px">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">

            </div>
            <p class="card-category"></p>
            <h3 class="card-title">Module</h3>
        </div>

    </div>
</a>
        </div>
            
        </div>

        <div class="row">
           
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a class="nav-link" href="/students/">
                    <div class="card card-stats" style="height:100px">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">

                            </div>
                            <p class="card-category"> </p>
                            <h3 class="card-title">
                                Student

                            </h3>
                        </div>

                    </div>
                </a>
            </div>
            
            
            <div class="col-lg-3 col-md-6 col-sm-6">
                
                <a class="nav-link" href="/lecturers/">
                <div class="card card-stats" style="height:100px">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">

                        </div>
                        <p class="card-category"></p>
                        <h3 class="card-title">Lecturer </h3>
                    </div>

                </div>
                </a>
            </div>
           
        </div>


    </div>
</div>
