
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminDashboard</h2>
@Html.ActionLink("Student", "../Students") |
<br />
@Html.ActionLink("Module", "../Modules") |
<br />
@Html.ActionLink("Lecturer", "../Lecturers") |
<br />
@Html.ActionLink("Asign Module", "../lec_module") |
<br />