@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-dark" style="height: 695px; ">
    <h2 style="text-align: center" >General Sir John Kothalawala Defence University</h2>
    <h3 style="text-align: center" >Examination Mark Entry Management System</h3>
    <form action="Home/Auth" method="POST" style="margin-top:50px; width:700px;  ">

        <div class="illustration"> <img src="https://upload.wikimedia.org/wikipedia/en/2/23/Kotelawala_Defence_University_crest.png" style="width: 250px" /></i></div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="form-group"><button class="btn btn-primary btn-block">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


